*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root{
    --btn-color: #E8F0F2;
}

body{
    background-image: url('../img/fundo.png');
    background-repeat: no-repeat;
    background-size: 100%;
    font-family: 'Krona One', sans-serif;
}


header{
    width: 100%;
    height: 70px;
    background-color: #F9F9F9;
    font-size: 20px;
    
    
}

header a {
    text-decoration: none;
    color: black;
    transition: 0.5s;
}

ul{
    padding-top: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

li{
    list-style: none;
}

header a:hover{
    color: rgb(109, 109, 109)
}

.main-section{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 30px;
}

.crypto, .coin{
    text-align: center;
    border: 1px solid black;
    height: 400px;
    width: 350px;
    background-color: white;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}